@font-face {
	font-family: 'Title Font';
	src: url(../fonts/KaushanScript-Regular.ttf);
}

.title-name {
    font-family: 'Title Font';
    border-bottom: solid 1px #000000;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
}
     
.footer > .container {
    margin-top: 5px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.footer-line {
    height: 30px;
    border-bottom: solid 2px #343a40;
}